*{
    box-sizing: border-box;

}
@font-face {
    font-family: myFont;
    src: url(/assets/fonts/Ubuntu-Bold.ttf);
 
}

body{
    overflow-x:hidden;
    background-color: hsl(206, 94%, 87%);
    margin: 0;
  
}

@media (max-width:420px){

    .wrapper{
        background-image: url(/assets/images/bg-sidebar-mobile.svg);
        background-size: contain;
        background-repeat: no-repeat;
    }
  .wrapper .div1{
    display: flex;
    position: relative;
   }

   .side-bar-icons{
    display: flex;
    position: absolute;
    left: 20%;
   }

.ul{
    border: 1px solid white;
    width: 40px;
    border-radius: 50%;
    height: 40px;
    margin-top: 40px;
    margin-left: 10px;
    padding: 12px;

}

.sidebar-texts{
    list-style-type: none;
    font-size:25px;
    font-family: 'Ubuntu', sans-serif;
    position:absolute;
    
    top: 20px;
   color: white;

}
.step-info-wrapper{
    visibility: hidden;
}
/* step1 begins */
#step1-div{
    position: relative;
    padding: 10px;
    
}

.step1-wrapper{
    width: 95%;
    min-height: 45vh;
    height: auto;
    background-color: white;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    left: 10px;
    top: 110px;
}

.header .h2{
    font-size:30px ;
    font-family: myFont;
    color: hsl(213, 96%, 18%);
    padding: 5px;
    margin: 2px;
}
.header .header-text{
   font-size: 16px;
font-family: 'Ubuntu', sans-serif;
color: hsl(229, 24%, 87%);
width: 90%;
padding: 10px;

}
.form{
    padding: 10px;
    margin: 5px;
}
.form .label{
display: block;
font-family: 'Ubuntu', sans-serif;
font-size: 20px;
padding: 5px;
margin: 5px;
}

.form input{
    padding: 20px;
    width: 95%;
    border: 1px solid hsl(229, 24%, 87%);
    border-radius: 10px;
}

::placeholder{
    color:hsl(229, 24%, 87%) ;
    font-family: 'Ubuntu', sans-serif;
    font-size: 17px;
}
}